<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css')}}">
    <title>Editar dados do pedido</title>
  </head>
  <body>
        <h1>Editar dados do pedido</h1>
    <div class="container">
    <form method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" >Nome</label>
          <input value="{{usuario.nome}}" type="text" name="nome" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <select style="width: 100%; padding: 8px; margin-top: 15px;" name="pagamento"  style="margin-top: 15px;" class="form-select" aria-label="Default select example">
            <option selected>{{usuario.pagamento}}</option>
            <option value="1">PIX</option>
            <option value="2">CARTÃO CRÉDITO/DÉBITO</option>
            <option value="3">DINHEIRO</option>
        </select>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Total R$</label>
          <input value="{{usuario.total}}" type="text" name="total" class="form-control" id="exampleInputPassword1">
        </div>
        <input type="submit" class="btn btn-primary" value="Editar">
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>